<% if @survey %>
  <h1><%= @survey.title %></h1>

  <form method="post" action="/take_survey/<%=@survey.id%>/submit">

    <% @survey.questions.each do |question| %>
      <ul>
        <li><%= question.question %></li>
          <% question.choices.each do |choice| %>
              <input class="choice" type="radio" name="choices[<%=question.id%>]" value="<%=choice.id%>"> <%= choice.choice %><br>
          <% end %>
      </ul>
    <% end %>
    <% if session[:user_id] %>
      <input type="submit" id="submit_survey" value="Submit the Survey!">
    <% end %>
  </form>
<% end %>
